# Looking for the best Formula 1 season

For my master's project, I'm making a piece about answering the question: **What championship winning team had the best Formula 1 season?**

To do this I was working with data provided by the [Ergast Developer API](https://ergast.com/mrd/). I noticed an error in the driver-constructor pairing for the 1950 season and wanted to verify things without moving forward. I was originally going to create a table of the driver-constructor pairs for each race, and then compare it with the data I had.

Instead I've chosen to go straight to the source for F1 information ([formula1.com](https://formula1.com)) and scrape the race results for each race. I did this scraping on 2019-06-21 and 2019-06-22 and I'll be now working with that data to do my analysis.

Because it is data from a primary-source, I have some more confidence in it.

In [1]:
import pandas as pd
import numpy as np

The first thing to do is to import the data

In [2]:
race_results = pd.read_csv("../formula1-data/results_all.csv")

In [3]:
race_results.head()

,raceId,year,raceRound,date,prix,driverFirstName,driverLastName,driverCode,constructor,finishingPosition,positionOrder,laps,time,points
0,1,1950,1,13 May 1950,Great Britain,Nino,Farina,FAR,Alfa Romeo,1,1,70.0,2:13:23.600,9.0
1,1,1950,1,13 May 1950,Great Britain,Luigi,Fagioli,FAG,Alfa Romeo,2,2,70.0,+2.600s,6.0
2,1,1950,1,13 May 1950,Great Britain,Reg,Parnell,PAR,Alfa Romeo,3,3,70.0,+52.000s,4.0
3,1,1950,1,13 May 1950,Great Britain,Yves Giraud,Cabantous,CAB,Talbot-Lago,4,4,68.0,+2 laps,3.0
4,1,1950,1,13 May 1950,Great Britain,Louis,Rosier,ROS,Talbot-Lago,5,5,68.0,+2 laps,2.0

In [4]:
race_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22598 entries, 0 to 22597
Data columns (total 14 columns):
raceId               22598 non-null int64
year                 22598 non-null int64
raceRound            22598 non-null int64
date                 22598 non-null object
prix                 22598 non-null object
driverFirstName      22598 non-null object
driverLastName       22598 non-null object
driverCode           22598 non-null object
constructor          22572 non-null object
finishingPosition    22598 non-null object
positionOrder        22598 non-null int64
laps                 22365 non-null float64
time                 22590 non-null object
points               22598 non-null float64
dtypes: float64(2), int64(4), object(8)
memory usage: 2.4+ MB

Let's also check how many races we have:

In [5]:
race_results.raceId.max()

1007

Things seem to be in good order. For most of the work, I won't particularly care for a few of the columns, namely:

* laps
* points
* driverCode
* date

So, let's drop those:

In [6]:
results = race_results.copy().drop(columns=["date", "laps", "points", "driverCode"])
results = results[results.year < 2019]

In [7]:
results.head()

,raceId,year,raceRound,prix,driverFirstName,driverLastName,constructor,finishingPosition,positionOrder,time
0,1,1950,1,Great Britain,Nino,Farina,Alfa Romeo,1,1,2:13:23.600
1,1,1950,1,Great Britain,Luigi,Fagioli,Alfa Romeo,2,2,+2.600s
2,1,1950,1,Great Britain,Reg,Parnell,Alfa Romeo,3,3,+52.000s
3,1,1950,1,Great Britain,Yves Giraud,Cabantous,Talbot-Lago,4,4,+2 laps
4,1,1950,1,Great Britain,Louis,Rosier,Talbot-Lago,5,5,+2 laps

For most of my analysis, I'm looking only at the teams that won championships, so let's slice the results table and keep only the different championship runs. I scraped more of the F1 site to find the teams that the winning drivers were a part of each season and am working with that.

In [9]:
teams = pd.read_csv("../formula1-data/winners-clean.csv")

In [11]:
teams

    year              constructor constructor_clean
0   1950               Alfa Romeo        Alfa Romeo
1   1951               Alfa Romeo        Alfa Romeo
2   1952                  Ferrari           Ferrari
3   1953                  Ferrari           Ferrari
4   1954            Mercedes-Benz          Mercedes
5   1955            Mercedes-Benz          Mercedes
6   1956                  Ferrari           Ferrari
7   1957                 Maserati          Maserati
8   1958                  Ferrari           Ferrari
9   1959            Cooper Climax            Cooper
10  1960            Cooper Climax            Cooper
11  1961                  Ferrari           Ferrari
12  1962                      BRM               BRM
13  1963             Lotus Climax             Lotus
14  1964                  Ferrari           Ferrari
15  1965             Lotus Climax             Lotus
16  1966            Brabham Repco           Brabham
17  1967            Brabham Repco           Brabham
18  1968               Lotus Ford             Lotus
19  1969               Matra Ford             Matra
20  1970               Lotus Ford             Lotus
21  1971             Tyrrell Ford           Tyrrell
22  1972               Lotus Ford             Lotus
23  1973             Tyrrell Ford           Tyrrell
24  1974             McLaren Ford           McLaren
25  1975                  Ferrari           Ferrari
26  1976             McLaren Ford           McLaren
27  1977                  Ferrari           Ferrari
28  1978               Lotus Ford             Lotus
29  1979                  Ferrari           Ferrari
..   ...                      ...               ...
40  1990            McLaren Honda           McLaren
41  1991            McLaren Honda           McLaren
42  1992         Williams Renault          Williams
43  1993         Williams Renault          Williams
44  1994            Benetton Ford          Benetton
45  1995         Benetton Renault          Benetton
46  1996         Williams Renault          Williams
47  1997         Williams Renault          Williams
48  1998         McLaren Mercedes           McLaren
49  1999         McLaren Mercedes           McLaren
50  2000                  Ferrari           Ferrari
51  2001                  Ferrari           Ferrari
52  2002                  Ferrari           Ferrari
53  2003                  Ferrari           Ferrari
54  2004                  Ferrari           Ferrari
55  2005                  Renault           Renault
56  2006                  Renault           Renault
57  2007                  Ferrari           Ferrari
58  2008         McLaren Mercedes           McLaren
59  2009           Brawn Mercedes             Brawn
60  2010              RBR Renault   Red Bull Racing
61  2011  Red Bull Racing Renault   Red Bull Racing
62  2012  Red Bull Racing Renault   Red Bull Racing
63  2013  Red Bull Racing Renault   Red Bull Racing
64  2014                 Mercedes          Mercedes
65  2015                 Mercedes          Mercedes
66  2016                 Mercedes          Mercedes
67  2017                 Mercedes          Mercedes
68  2018                 Mercedes          Mercedes
69  2019                 Mercedes          Mercedes

[70 rows x 3 columns]

One thing with the teams is that they change names of the year (look at McLaren for instance) and often their name is the constructor followed by the engine they're using during a particular year.

To account for this, I created a column of clean names that keep the constructor consistent across the years. To slice my results data, I will merge this table to the results table and only keep the lines that match both `year` and `constructor`.

In [12]:
comparison = pd.merge(results, teams, how="left", on=["year", "constructor"], indicator=True)

In [13]:
comparison.head()

,raceId,year,raceRound,prix,driverFirstName,driverLastName,constructor,finishingPosition,positionOrder,time,constructor_clean,_merge
0,1,1950,1,Great Britain,Nino,Farina,Alfa Romeo,1,1,2:13:23.600,Alfa Romeo,both
1,1,1950,1,Great Britain,Luigi,Fagioli,Alfa Romeo,2,2,+2.600s,Alfa Romeo,both
2,1,1950,1,Great Britain,Reg,Parnell,Alfa Romeo,3,3,+52.000s,Alfa Romeo,both
3,1,1950,1,Great Britain,Yves Giraud,Cabantous,Talbot-Lago,4,4,+2 laps,NaN,left_only
4,1,1950,1,Great Britain,Louis,Rosier,Talbot-Lago,5,5,+2 laps,NaN,left_only

In [21]:
results_slice = comparison[comparison._merge == "both"]
results_slice.head(22)

,raceId,year,raceRound,prix,driverFirstName,driverLastName,constructor,finishingPosition,positionOrder,time,constructor_clean,_merge
0,1,1950,1,Great Britain,Nino,Farina,Alfa Romeo,1,1,2:13:23.600,Alfa Romeo,both
1,1,1950,1,Great Britain,Luigi,Fagioli,Alfa Romeo,2,2,+2.600s,Alfa Romeo,both
2,1,1950,1,Great Britain,Reg,Parnell,Alfa Romeo,3,3,+52.000s,Alfa Romeo,both
12,1,1950,1,Great Britain,Juan Manuel,Fangio,Alfa Romeo,NC,13,DNF,Alfa Romeo,both
23,2,1950,2,Monaco,Juan Manuel,Fangio,Alfa Romeo,1,1,3:13:18.700,Alfa Romeo,both
33,2,1950,2,Monaco,Luigi,Fagioli,Alfa Romeo,NC,11,DNF,Alfa Romeo,both
34,2,1950,2,Monaco,Nino,Farina,Alfa Romeo,NC,12,DNF,Alfa Romeo,both
78,4,1950,4,Switzerland,Nino,Farina,Alfa Romeo,1,1,2:02:53.700,Alfa Romeo,both
79,4,1950,4,Switzerland,Luigi,Fagioli,Alfa Romeo,2,2,+0.400s,Alfa Romeo,both
89,4,1950,4,Switzerland,Juan Manuel,Fangio,Alfa Romeo,NC,12,DNF,Alfa Romeo,both
96,5,1950,5,Belgium,Juan Manuel,Fangio,Alfa Romeo,1,1,2:47:26.000,Alfa Romeo,both
97,5,1950,5,Belgium,Luigi,Fagioli,Alfa Romeo,2,2,+14.000s,Alfa Romeo,both
99,5,1950,5,Belgium,Nino,Farina,Alfa Romeo,4,4,+245.000s,Alfa Romeo,both
110,6,1950,6,France,Juan Manuel,Fangio,Alfa Romeo,1,1,2:57:52.800,Alfa Romeo,both
111,6,1950,6,France,Luigi,Fagioli,Alfa Romeo,2,2,+25.700s,Alfa Romeo,both
118,6,1950,6,France,Nino,Farina,Alfa Romeo,7,9,DNF,Alfa Romeo,both
130,7,1950,7,Italy,Nino,Farina,Alfa Romeo,1,1,2:51:17.400,Alfa Romeo,both
133,7,1950,7,Italy,Luigi,Fagioli,Alfa Romeo,3,4,+95.600s,Alfa Romeo,both
143,7,1950,7,Italy,Piero,Taruffi,Alfa Romeo,NC,14,SHC,Alfa Romeo,both
144,7,1950,7,Italy,Juan Manuel,Fangio,Alfa Romeo,NC,15,DNF,Alfa Romeo,both
146,7,1950,7,Italy,Juan Manuel,Fangio,Alfa Romeo,NC,17,DNF,Alfa Romeo,both
154,7,1950,7,Italy,Consalvo,Sanesi,Alfa Romeo,NC,25,DNF,Alfa Romeo,both

Now that I've done this, I can go in and drop the old constructor column and the newly added `_merge` column

In [22]:
results2 = results_slice.drop(columns=["constructor", "_merge"])

In [23]:
results2.head()

,raceId,year,raceRound,prix,driverFirstName,driverLastName,finishingPosition,positionOrder,time,constructor_clean
0,1,1950,1,Great Britain,Nino,Farina,1,1,2:13:23.600,Alfa Romeo
1,1,1950,1,Great Britain,Luigi,Fagioli,2,2,+2.600s,Alfa Romeo
2,1,1950,1,Great Britain,Reg,Parnell,3,3,+52.000s,Alfa Romeo
12,1,1950,1,Great Britain,Juan Manuel,Fangio,NC,13,DNF,Alfa Romeo
23,2,1950,2,Monaco,Juan Manuel,Fangio,1,1,3:13:18.700,Alfa Romeo

In [24]:
results2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2311 entries, 0 to 22442
Data columns (total 10 columns):
raceId               2311 non-null int64
year                 2311 non-null int64
raceRound            2311 non-null int64
prix                 2311 non-null object
driverFirstName      2311 non-null object
driverLastName       2311 non-null object
finishingPosition    2311 non-null object
positionOrder        2311 non-null int64
time                 2311 non-null object
constructor_clean    2311 non-null object
dtypes: int64(4), object(6)
memory usage: 198.6+ KB

Now we can head into the analysis.

---

## Idea 01: Wins

The first way we can look to find an answer to the question is to look at the wins each team had in their run.

In [25]:
wins = results2[results2.finishingPosition == "1"]

In [26]:
wins.head()

,raceId,year,raceRound,prix,driverFirstName,driverLastName,finishingPosition,positionOrder,time,constructor_clean
0,1,1950,1,Great Britain,Nino,Farina,1,1,2:13:23.600,Alfa Romeo
23,2,1950,2,Monaco,Juan Manuel,Fangio,1,1,3:13:18.700,Alfa Romeo
78,4,1950,4,Switzerland,Nino,Farina,1,1,2:02:53.700,Alfa Romeo
96,5,1950,5,Belgium,Juan Manuel,Fangio,1,1,2:47:26.000,Alfa Romeo
110,6,1950,6,France,Juan Manuel,Fangio,1,1,2:57:52.800,Alfa Romeo

In [27]:
wins.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 532 entries, 0 to 22438
Data columns (total 10 columns):
raceId               532 non-null int64
year                 532 non-null int64
raceRound            532 non-null int64
prix                 532 non-null object
driverFirstName      532 non-null object
driverLastName       532 non-null object
finishingPosition    532 non-null object
positionOrder        532 non-null int64
time                 532 non-null object
constructor_clean    532 non-null object
dtypes: int64(4), object(6)
memory usage: 45.7+ KB

In [28]:
wins.head(22)

,raceId,year,raceRound,prix,driverFirstName,driverLastName,finishingPosition,positionOrder,time,constructor_clean
0,1,1950,1,Great Britain,Nino,Farina,1,1,2:13:23.600,Alfa Romeo
23,2,1950,2,Monaco,Juan Manuel,Fangio,1,1,3:13:18.700,Alfa Romeo
78,4,1950,4,Switzerland,Nino,Farina,1,1,2:02:53.700,Alfa Romeo
96,5,1950,5,Belgium,Juan Manuel,Fangio,1,1,2:47:26.000,Alfa Romeo
110,6,1950,6,France,Juan Manuel,Fangio,1,1,2:57:52.800,Alfa Romeo
130,7,1950,7,Italy,Nino,Farina,1,1,2:51:17.400,Alfa Romeo
158,8,1951,1,Switzerland,Juan Manuel,Fangio,1,1,2:07:53.640,Alfa Romeo
213,10,1951,3,Belgium,Nino,Farina,1,1,2:45:46.200,Alfa Romeo
226,11,1951,4,France,Juan Manuel,Fangio,1,1,3:22:11.000,Alfa Romeo
227,11,1951,4,France,Luigi,Fagioli,1,2,SHC,Alfa Romeo
252,12,1951,5,France,Juan Manuel,Fangio,1,1,3:22:11.000,Alfa Romeo
253,12,1951,5,France,Luigi,Fagioli,1,2,SHC,Alfa Romeo
341,16,1951,9,Spain,Juan Manuel,Fangio,1,1,2:46:54.100,Alfa Romeo
360,17,1952,1,Switzerland,Piero,Taruffi,1,1,3:01:46.100,Ferrari
415,19,1952,3,Belgium,Alberto,Ascari,1,1,3:03:46.300,Ferrari
437,20,1952,4,France,Alberto,Ascari,1,1,3:00:00.000,Ferrari
459,21,1952,5,Great Britain,Alberto,Ascari,1,1,2:44:11.000,Ferrari
490,22,1952,6,Germany,Alberto,Ascari,1,1,3:06:13.300,Ferrari
520,23,1952,7,Netherlands,Alberto,Ascari,1,1,2:53:28.500,Ferrari
539,24,1952,8,Italy,Alberto,Ascari,1,1,2:50:45.600,Ferrari
563,25,1953,1,Argentina,Alberto,Ascari,1,1,3:01:04.600,Ferrari
627,27,1953,3,Netherlands,Alberto,Ascari,1,1,2:53:35.800,Ferrari

One thing with the earlier F1 races that I've noted in my previous analysis attempts is that the there were a lot of shared drives. In this dataset, those rows are easier to find. In the column for time, they have a value of `SHC`. In doing my calculations, I'll ignore these rows.