# Sorting things Chronologically

I'm trying to have the raceId, driverId be based more on chronology instead of starting with the 2009 season and going back to fill things out.

In [1]:
import numpy as np
import pandas as pd

In [2]:
drivers = pd.read_csv("f1db/chrono/drivers.csv")

In [3]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,chronoDriverId,dob_year,dob_month,dob_day
0,741,etancelin,NaN,NaN,Philippe,Etancelin,1896-12-28,French,http://en.wikipedia.org/wiki/Philippe_%C3%89ta...,1,1896,12,28
1,786,fagioli,NaN,NaN,Luigi,Fagioli,1898-06-09,Italian,http://en.wikipedia.org/wiki/Luigi_Fagioli,2,1898,6,9
2,791,biondetti,NaN,NaN,Clemente,Biondetti,1898-08-18,Italian,http://en.wikipedia.org/wiki/Clemente_Biondetti,3,1898,8,18
3,703,legat,NaN,NaN,Arthur,Legat,1898-11-01,Belgian,http://en.wikipedia.org/wiki/Arthur_Legat,4,1898,11,1
4,589,chiron,NaN,NaN,Louis,Chiron,1899-08-03,Monegasque,http://en.wikipedia.org/wiki/Louis_Chiron,5,1899,8,3

In [4]:
driverId2 = drivers[["driverId", "chronoDriverId"]]
driverId2.head()

   driverId  chronoDriverId
0       741               1
1       786               2
2       791               3
3       703               4
4       589               5

In [5]:
races = pd.read_csv("f1db/chrono/races.csv")

In [6]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,chronoRaceId
0,833,1950,1,9,British Grand Prix,5/13/50,NaN,http://en.wikipedia.org/wiki/1950_British_Gran...,1
1,834,1950,2,6,Monaco Grand Prix,5/21/50,NaN,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,2
2,835,1950,3,19,Indianapolis 500,5/30/50,NaN,http://en.wikipedia.org/wiki/1950_Indianapolis...,3
3,836,1950,4,66,Swiss Grand Prix,6/4/50,NaN,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,4
4,837,1950,5,13,Belgian Grand Prix,6/18/50,NaN,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,5

In [7]:
raceId2 = races[["raceId","chronoRaceId"]]
raceId2.head()

   raceId  chronoRaceId
0     833             1
1     834             2
2     835             3
3     836             4
4     837             5

In [10]:
const_results = pd.read_csv("f1db/chrono/constructor_results.csv")

In [11]:
const_results.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0    NaN
1                     2      18              2     8.0    NaN
2                     3      18              3     9.0    NaN
3                     4      18              4     5.0    NaN
4                     5      18              5     2.0    NaN

In [13]:
k = const_results.join(raceId2.set_index("raceId"), on="raceId")

In [14]:
k

,constructorResultsId,raceId,constructorId,points,status,chronoRaceId
0,1,18,1,14.0,NaN,786
1,2,18,2,8.0,NaN,786
2,3,18,3,9.0,NaN,786
3,4,18,4,5.0,NaN,786
4,5,18,5,2.0,NaN,786
5,6,18,6,1.0,NaN,786
6,7,18,7,0.0,NaN,786
7,8,18,8,0.0,NaN,786
8,9,18,9,0.0,NaN,786
9,10,18,10,0.0,NaN,786
10,11,18,11,0.0,NaN,786
11,12,19,6,10.0,NaN,787
12,13,19,2,11.0,NaN,787
13,14,19,1,10.0,NaN,787
14,15,19,7,5.0,NaN,787
15,16,19,9,2.0,NaN,787
16,17,19,4,1.0,NaN,787
17,18,19,11,0.0,NaN,787
18,19,19,10,0.0,NaN,787
19,20,19,3,0.0,NaN,787
20,21,19,8,0.0,NaN,787
21,22,19,5,0.0,NaN,787
22,23,20,6,18.0,NaN,788
23,24,20,2,11.0,NaN,788
24,25,20,1,4.0,NaN,788
25,26,20,7,3.0,NaN,788
26,27,20,9,2.0,NaN,788
27,28,20,3,1.0,NaN,788
28,29,20,4,0.0,NaN,788
29,30,20,11,0.0,NaN,788
...,...,...,...,...,...,...
11350,15850,1010,131,44.0,NaN,998
11351,15851,1010,9,15.0,NaN,998
11352,15852,1010,6,22.0,NaN,998
11353,15853,1010,210,8.0,NaN,998
11354,15854,1010,4,6.0,NaN,998
11355,15855,1010,51,4.0,NaN,998
11356,15856,1010,211,2.0,NaN,998
11357,15857,1010,5,1.0,NaN,998
11358,15858,1010,1,0.0,NaN,998
11359,15859,1010,3,0.0,NaN,998
11360,15860,1011,131,43.0,NaN,999
11361,15861,1011,6,26.0,NaN,999
11362,15862,1011,9,16.0,NaN,999
11363,15863,1011,1,8.0,NaN,999
11364,15864,1011,51,6.0,NaN,999
11365,15865,1011,211,1.0,NaN,999
11366,15866,1011,210,0.0,NaN,999
11367,15867,1011,3,0.0,NaN,999
11368,15868,1011,4,0.0,NaN,999
11369,15869,1011,5,2.0,NaN,999
11370,15870,1012,131,43.0,NaN,1000
11371,15871,1012,6,25.0,NaN,1000
11372,15872,1012,9,21.0,NaN,1000
11373,15873,1012,4,6.0,NaN,1000
11374,15874,1012,211,4.0,NaN,1000
11375,15875,1012,51,2.0,NaN,1000
11376,15876,1012,5,1.0,NaN,1000
11377,15877,1012,210,0.0,NaN,1000
11378,15878,1012,1,0.0,NaN,1000
11379,15879,1012,3,0.0,NaN,1000

In [15]:
k.to_csv("f1db/chrono/constructor_results_2.csv")

Let's see now which ones we have to change ... 

* `driver_standings`, `results`, `qualifying`, `pit_stops`, `lap_times` needs both raceId and driverId
* `constructor_standings` needs raceId

In [16]:
const_standings = pd.read_csv("f1db/chrono/constructor_standings.csv")
const_standings.head(20)

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
5,6,18,6,1.0,6,6,0
6,7,19,1,24.0,1,1,1
7,8,19,2,19.0,2,2,0
8,9,19,3,9.0,4,4,0
9,10,19,4,6.0,5,5,0
10,11,19,5,2.0,8,8,0
11,12,19,6,11.0,3,3,1
12,13,19,7,5.0,6,6,0
13,14,19,9,2.0,7,7,0
14,15,19,11,0.0,9,9,0
15,16,19,10,0.0,10,10,0
16,17,19,8,0.0,11,11,0
17,18,20,1,28.0,3,3,1
18,19,20,2,30.0,1,1,0
19,20,20,3,10.0,4,4,0

In [17]:
a = const_standings.join(raceId2.set_index("raceId"), on="raceId")

In [18]:
a.head(20)

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins,chronoRaceId
0,1,18,1,14.0,1,1,1,786
1,2,18,2,8.0,3,3,0,786
2,3,18,3,9.0,2,2,0,786
3,4,18,4,5.0,4,4,0,786
4,5,18,5,2.0,5,5,0,786
5,6,18,6,1.0,6,6,0,786
6,7,19,1,24.0,1,1,1,787
7,8,19,2,19.0,2,2,0,787
8,9,19,3,9.0,4,4,0,787
9,10,19,4,6.0,5,5,0,787
10,11,19,5,2.0,8,8,0,787
11,12,19,6,11.0,3,3,1,787
12,13,19,7,5.0,6,6,0,787
13,14,19,9,2.0,7,7,0,787
14,15,19,11,0.0,9,9,0,787
15,16,19,10,0.0,10,10,0,787
16,17,19,8,0.0,11,11,0,787
17,18,20,1,28.0,3,3,1,788
18,19,20,2,30.0,1,1,0,788
19,20,20,3,10.0,4,4,0,788

In [19]:
a.tail(20)

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins,chronoRaceId
12116,27223,1012,131,130.0,1,1,3,1000
12117,27222,1011,3,0.0,10,10,0,999
12118,27220,1011,5,3.0,8,8,0,999
12119,27215,1011,6,48.0,2,2,0,999
12120,27221,1011,1,8.0,5,5,0,999
12121,27218,1011,51,10.0,4,4,0,999
12122,27214,1011,9,31.0,3,3,0,999
12123,27219,1011,211,3.0,9,9,0,999
12124,27217,1011,4,6.0,7,7,0,999
12125,27216,1011,210,8.0,6,6,0,999
12126,27213,1011,131,87.0,1,1,2,999
12127,27224,1012,9,52.0,3,3,0,1000
12128,27225,1012,6,73.0,2,2,0,1000
12129,27226,1012,210,8.0,6,6,0,1000
12130,27227,1012,4,12.0,4,4,0,1000
12131,27228,1012,51,12.0,5,5,0,1000
12132,27229,1012,211,7.0,8,8,0,1000
12133,27230,1012,5,4.0,9,9,0,1000
12134,27231,1012,1,8.0,7,7,0,1000
12135,27232,1012,3,0.0,10,10,0,1000

In [20]:
a.to_csv("f1db/chrono/constructor_standings_2.csv")

In [21]:
df = pd.read_csv("f1db/chrono/driver_standings.csv")
df2 = df.join(raceId2.set_index("raceId"), on="raceId").join(driverId2.set_index("driverId"), on ="driverId")

In [24]:
df2.tail(25)

,driverStandingsId,raceId,driverId,points,position,positionText,wins,chronoRaceId,chronoDriverId
32181,69221,1011,815,1.0,14,14,0,999,820
32182,69217,1011,840,2.0,12,12,0,999,846
32183,69214,1011,825,8.0,8,8,0,999,833
32184,69213,1011,844,26.0,4,4,0,999,844
32185,69212,1011,20,22.0,5,5,0,999,813
32186,69210,1011,1,43.0,2,2,1,999,803
32187,69209,1011,822,44.0,1,1,1,999,818
32188,69231,1012,830,39.0,3,3,0,1000,843
32189,69232,1012,20,37.0,4,4,0,1000,813
32190,69233,1012,844,36.0,5,5,0,1000,844
32191,69234,1012,825,8.0,9,9,0,1000,833
32192,69235,1012,807,6.0,10,10,0,1000,814
32193,69236,1012,8,12.0,7,7,0,1000,780
32194,69237,1012,840,2.0,14,14,0,1000,846
32195,69238,1012,826,1.0,15,15,0,1000,836
32196,69239,1012,842,13.0,6,6,0,1000,840
32197,69240,1012,846,8.0,8,8,0,1000,847
32198,69241,1012,815,5.0,12,12,0,1000,820
32199,69242,1012,848,3.0,13,13,0,1000,841
32200,69243,1012,841,0.0,16,16,0,1000,835
32201,69244,1012,847,0.0,19,19,0,1000,845
32202,69245,1012,9,0.0,20,20,0,1000,802
32203,69246,1012,154,0.0,17,17,0,1000,811
32204,69247,1012,817,6.0,11,11,0,1000,816
32205,69248,1012,832,0.0,18,18,0,1000,837

In [25]:
df2.to_csv("f1db/chrono/driver_standings_2.csv")

In [26]:
filename = "results"
df = pd.read_csv("f1db/chrono/"+filename+".csv")
df2 = df.join(raceId2.set_index("raceId"), on="raceId").join(driverId2.set_index("driverId"), on ="driverId")
df2.to_csv("f1db/chrono/"+filename+"_2.csv")

In [29]:
files = ["qualifying", "pit_stops", "lap_times"]

for i in files:
    print(i)
    filename = i 
    df = pd.read_csv("f1db/chrono/"+filename+".csv")
    df2 = df.join(raceId2.set_index("raceId"), on="raceId").join(driverId2.set_index("driverId"), on ="driverId")
    df2.to_csv("f1db/chrono/"+filename+"_2.csv")

qualifying
pit_stops
lap_times

I'll go into the chrono data and clean up the older Ids and resort things so they're organized by ti